fastapi
uvicorn[standard]
sqlalchemy
databases[postgresql]
databases[asyncpg]
psycopg2-binary
python-dotenv
pydantic_settings
python-jose[cryptography]
argon2-cffi
python-multipart
google-cloud-aiplatform
asgi-correlation-id
python-json-logger
rich
alembic
